.containerErrorLogin {
  height: 1.9rem;
  background: #fed7d7;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2rem;

  p {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    color: #2d3748;
  }

  transition: all 0.3s linear;
}
