
.container {
    width: min(95vw, 1390px);
    margin: 0 auto;
    .content {
      margin-top: 2rem;
      display: grid;
      max-width: 100%;
      // grid-template-columns: 0.4fr minmax(400px, 2fr) 0.8fr;
      grid-template-columns: 0.45fr 1.6fr 0.8fr;
      grid-column-gap: 1rem;
  
      .feed {
        box-shadow: var(--sombra);
        border: 1px solid var(--gray-100);
        background: white;
        max-height: 87vh;
        border-radius: 4px;
        padding: 1rem 1rem 1rem 1.2rem;
        overflow: auto;
        height: auto;
        max-height : auto;
        

        header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
  
          h1 {
            font-family: Inter, sans-serif;
            font-weight: normal;
            font-size: 2rem;
            line-height: 2rem;
            color: #111;
            padding-bottom: 20px;
          }
  
         }
        .senha_h{
          color: blue;
          padding-top: 10px;
        }
        .campo_senha{
          padding-top: 40px;
        }
        .toggle{
          display: none;
        }
        .toggle + label {
          width: 40px;
          height: 20px;
          bottom: 20px;
          left: 120px;
          background: lightgrey;
          display: block;
          position: relative;
          border-radius: 20px;
          padding: 2px;
          transition: 200ms;
          cursor: pointer;
        }
        .toggle + label:before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          background: white;
          display: block;
          border-radius: 50%;
          right: unset;
          left: 1px;
          top: 0px;
          transition: 200ms;
        }
        .toggle:checked + label {
          background: blue;
        }
        .toggle:checked + label:before{
          content: '';
          left: 20px;
          box-shadow: 0 4px 4px rgb(0 0 0/10%);
        }
        
        button {
          margin-top: 1rem;
          height: 3rem;
          width: 50%;
          border: none;
          border-radius: 4px;
          background: var(--blue-700);
          color: white;
          font-weight: bold;
          display: center;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
  
          &:hover {
            background: var(--blue-500);
          }
        }

        
          .filtros{
            display: flex;
            
            p {
              cursor: pointer;
              display: inline-flex;
              align-items: center;
              margin-right: 20px;
            }
      
            & > p {
              font-size: 1rem;
              transition: text-decoration 0.3s linear;
              color: var(--gray-500);
      
              &:hover:not(:last-child) {
                text-decoration: underline;
              }
            }
      
            li > p {
              padding: 4px 7px;
              gap: 7px;
      
              & + p {
                border-top: 1px solid #d3d3d3;
              }
      
              &:hover {
                background: rgb(240, 239, 239);
              }
            }
        }
  
        .titulo {
          font-weight: normal;
          font-size: 1.5rem;
          line-height: 1.5rem;
          color: #111;
          margin-bottom: 20px;
          margin-top: 20px;
          color: #111;
        }
  
        input {
          padding: 0.5rem;
          border: 1px solid var(--gray-300);
          width: 100%;
          margin-bottom: 10px;
          border-radius: 4px;
          padding-left: 10px;
  
          &:focus {
            border: 1px solid var(--blue-700);
          }
        }
        .areaSearch {
          display: none;
          width: 100%;
          position: relative;
        }
  
        &::-webkit-scrollbar {
          width: 7px;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: #ecebeb;
          border-radius: 5px;
        }
      }
  
      .sideBarRight {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        border: 1px solid var(--gray-100);
        background: rgb(255, 254, 254);
        border-radius: 4px;
        max-height: auto;
  
        ul {
          list-style: none;
          color: var(--blue-700);
          h3 {
            text-align: center;
            font-weight: normal;
            margin-bottom: 1rem;
          }
  
          .avisos {
            margin-top: 1rem;
            padding-top: 0.7rem;
            border-top: 1px solid var(--gray-300);
            margin-block-end: 5px;
  
            p {
              text-align: center;
              color: #111;
              font-size: 0.8rem;
            }
            h4 {
              text-align: center;
              color: rgb(163, 71, 71);
            }
          }
          li {
            align-items: center;
            justify-content: center;
            width: 100%;
          }
        }
  
        .userName {
          display: flex;
          justify-content: center;
          align-items: center;
  
          span {
            padding: 0.4rem 0.6rem;
            font-weight: bold;
            // background: var(--gray-100);
            border-radius: 8px;
            color: var(--gray-500);
          }
        }
  
        .gamificacao {
          display: flex;
          align-items: center;
          gap: 1rem;
  
          img {
            max-width: 150px;
            max-height: 130px;
            object-fit: contain;
            margin-bottom: 0.5rem;
          }
  
          div {
            background: var(--gray-100);
            padding: 0.5rem;
            border-radius: 8px;
            display: flex;
            gap: 10px;
  
            span:last-child {
              font-weight: bold;
            }
          }
        }
      }
  
      .sideBarLeft {
        display: flex;
        justify-content: center;
        padding: 0.8rem;
        border: 1px solid var(--gray-100);
        background: white;
        border-radius: 4px;
        height: 11rem;
  
        ul {
          list-style: none;
          // color: var(--blue-700);
          width: 100%;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            text-align: center;
            margin-bottom: 0.4rem;
            padding: 0.5rem;
            // padding-left: 15%;
            border: 1px solid var(--gray-300);
            border-radius: 4px;
            cursor: pointer;
            transition: margin-bottom 0.1s ease-in-out;
  
            &:hover {
              margin-bottom: 0.8rem;
            }
  
            &:first-child {
              position: relative;
              padding: 0;
              border: none;
            }
          }
        }
      }
    }
  }

  
  .reactCalendar {
    border-radius: 6px;
    max-width: 300px !important;
    max-height: 280px !important;
    background: rgb(163, 71, 71);
    border: 1px solid var(--gray-100) !important;
    box-shadow: var(--sombra);
    line-height: 1.125em;
    font-size: 13.5px;
    align-content: center;
  }
  
  @media (max-width: 1200px) {
    .container {
      .content {
        grid-template-columns: minmax(400px, 2fr) 1.3fr;
  
        .feed {
          header {
            margin-bottom: 0.9rem;
            div {
              display: flex;
              gap: 1rem;
            }
          }
  
          .areaSearch {
            display: block;
            margin-bottom: 1rem;
  
            input {
              width: 100%;
              padding: 0.5rem;
              border-radius: 8px;
              border: 1px solid var(--gray-300);
  
              &:focus {
                border: 1px solid var(--blue-700);
              }
            }
          }
        }
  
        .sideBarLeft {
          display: none;
        }
      }
    }
  }