.container {
  height: 3.5rem;
  border-bottom: 1px solid var(--gray-100);
  
  .content {
    width: min(95vw, 1390px);
    margin: 0 auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-weight: 700 !important;
      background: -webkit-linear-gradient(
        -0.2turn,
        var(--blue-700),
        var(--purple-700)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .areaUser {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        font-size: 0.9rem;
        cursor: pointer;
      }

      a:first-child {
        position: relative;
        transition: all 0.3s linear;

        &::after {
          content: "";
          height: 1px;
          width: 100%;
          position: absolute;
          bottom: -4px;
          left: 0px;
          background: var(--gradiente-color);
          transform: translatex(-10%);
          opacity: 0;
          transition: transform 0.3s ease-in-out, opacity 0.3s linear;
        }
        &:hover {
          &::after {
            transform: translatex(0);
            // transform: scalex(1);k
            opacity: 1;
          }
        }
      }

      img {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
