
.feed {
  display: flex;
  flex-direction: column;
  align-items: initial;
  
  .titulo{
    display: inline-flex;
    align-items: center;
    margin-left: 3rem;
    
    h1{
      
      margin-left: 2rem;
     text-align: center;
     align-items: center;
    }
  }

      .descricao{
        margin-top: 0.5rem;
        div{
        border: 1px solid var(--gray-100);
        margin-bottom: 0.5rem;
        border-radius: 4px;
        padding: 1rem;
        text-align: center;

          h2{
            color: var(--blue-700);
            font-weight: normal;
            margin-bottom: 0.5rem;
            text-align: center;
            font-size: large;
          }
        }
      }

      .anexo{

      }

        .enviar{
          align-self: center;
          margin-top: 3rem;
         
      }
      
      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ecebeb;
        border-radius: 5px;
      }
    }
    
   