.container {
  height: 4rem;
  border-bottom: 1px solid var(--gray-100);

  .content {
    width: min(90vw, 1120px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    a:first-child {
      // font-size: 0.85rem;
      position: relative;
      transition: all 0.3s linear;

      &::after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -4px;
        left: 0px;
        background: var(--gradiente-color);
        transform: translatex(-10%);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s linear;
      }
      &:hover {
        &::after {
          transform: translatex(0);
          // transform: scalex(1);k
          opacity: 1;
        }
      }
    }

    button {
      padding: 0.5rem 0.75rem;
      //  font-size: 0.85rem;
      background: transparent;
      border: 1px solid var(--purple-700);
      color: var(--blue-700);
      border-radius: 4px;
    }
  }
}
