.feed {
  .aluno {
    border: 1px solid var(--gray-100);
    margin-bottom: 1rem;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    transition: margin-bottom 0.1s ease-in-out;
    h2 {
      margin: 10px;
      font-size: medium;
      padding-top: 0.5rem;
      font-family: serif;
      &:hover {
        color: #5280ff;
      }
    }

    &:hover {
      margin-bottom: 0.8rem;
    }
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
   // background-color: #ecebeb;
    border-radius: 5px;
  }
}
