
.feed {
  h1 {
    margin-bottom: 1rem;
    color: #131212; 
    font-family: 'Droid serif', serif; 
    font-size: 40px; 
    font-weight: 400; 
    font-style: italic; 
    line-height: 44px; 
    text-align: center;   
  
}

}
    
   