
.feed {
  h1 {
    margin-bottom: 1rem;
    color: #131212; 
    font-family: 'Droid serif', serif; 
    font-weight: 600 !important;
    font-size: 2.5rem;
    line-height: 44px; 
    text-align: center;   
  
}

img {
  width: 100%;
  height: auto;
}

}
    
   